@model Web_App.ViewModels.SupplierViewModel

<div>
    <h4>AddressViewModel</h4>
    <hr />
    <dl class="row" class="table-dark">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Patio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.Patio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Complement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.Complement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Neighborhood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.Neighborhood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.SupplierId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.SupplierId)
        </dd>
    </dl>
</div>
